<div class="container mt-3">
  <div class="card">
      <div class="card-body">

          <div class="row mb-3">
              <div class="col-md-6">
                  <h3>Controle de Clientes</h3>
                  Aplicação Angular integrada com API REST Java (Spring Boot)
              </div>
              <div class="col-md-6 text-end">
                  <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal_cadastro">
                      Cadastrar Cliente
                  </button>
              </div>
          </div>

          <hr />

          <div class="row mb-3">

                <div class="col-md-4">

                    <input type="text" class="form-control" [(ngModel)]= "filtro.nome" placeholder="Pesquisar cliente por Nome"/>

                </div>

          </div>

          <table class="table table-sm table-responsive">
              <thead>
                  <tr>
                      <th>Nome do cliente</th>
                      <th>Email</th>
                      <th>CPF</th>
                      <th>Operações</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let c of clientes | filterBy: filtro | paginate: { itemsPerPage: 5, currentPage:paginador }">
                      <td>{{c.nome}}</td>
                      <td>{{c.email}}</td>
                      <td>{{c.cpf | mask:"000.000.000-00"}}</td>
                      <td>
                          <button class="btn btn-primary btn-sm" data-bs-toggle="modal"
                              data-bs-target="#modal_edicao" (click)="buscarClientePorId(c.idCliente)">
                              Editar
                          </button>
                          &nbsp;
                          <button class="btn btn-danger btn-sm" (click)="excluirCliente(c.idCliente)">
                              Excluir
                          </button>
                      </td>
                  </tr>
              </tbody>
              <tfoot>
                  <tr>
                      <td colspan="4">
                          Quantidade de clientes: {{clientes.length}}
                      </td>
                  </tr>
              </tfoot>
          </table>

          <div class="mt-3 text-center">

            <pagination-controls (pageChange)="handlePageChange($event)" previousLabel="Página Anterior"
            nextLabel="Próxima Página">
            </pagination-controls>

          </div>

      </div>
  </div>
</div>

<!-- Janela modal para cadastro de cliente -->
<div class="modal fade" id="modal_cadastro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastro de Cliente</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p>Preencha os campos para cadastrar o cliente:</p>

              <form [formGroup]="formCadastro" (ngSubmit)="cadastrarCliente()">

                <div *ngIf="mensagemCadastro" class="mb-3 alert alert-primary alert-dismissible fade show" role="alert">
                    <strong>{{mensagemCadastro}}</strong>
                    <button type = "button" class="btn-close" aria-label="Close" (click)="mensagemCadastro=''"></button>
                </div>

                  <div class="mb-3">
                      <label>Nome do cliente:</label>
                      <input type="text" class="form-control" formControlName="nome" placeholder="Digite aqui" />
                      <div class="text-danger" *ngIf="formPost.nome.touched && formPost.nome.invalid">

                        <span *ngIf="formPost.nome.errors.required">Por favor, informe o nome do cliente.</span>
                        <span *ngIf="formPost.nome.errors.minlength">Nome deve ter no mínimo 8 caracteres</span>

                      </div>
                  </div>

                  <div class="mb-3">
                      <label>Email do cliente:</label>
                      <input type="text" class="form-control" formControlName="email" placeholder="Digite aqui" />
                      <div class="text-danger" *ngIf="formPost.email.touched && formPost.email.invalid">

                        <span *ngIf="formPost.email.errors.required">Por favor, informe o E-mail do cliente.</span>
                        <span *ngIf="formPost.email.errors.email">Formato de e-mail inválido.</span>

                      </div>
                  </div>

                  <div class="mb-3">
                      <label>CPF do cliente:</label>
                      <input type="text" class="form-control" formControlName="cpf" placeholder="Digite aqui" 
                      mask="000.000.000-00"/>
                      <div class="text-danger" *ngIf="formPost.cpf.touched && formPost.cpf.invalid">

                        <span *ngIf="formPost.cpf.errors.required">Por favor, informe o CPF do cliente.</span>
                        <span *ngIf="formPost.cpf.errors.minlength || formPost.cpf.errors.maxlength">Por favor, informe o CPF com 11 digitos.</span>

                      </div>
                  </div>

                  <div class="mb-3">
                      <div class="d-grid">
                          <input type="submit" class="btn btn-success" [disabled]="!formCadastro.valid" value="Realizar Cadastro" />
                      </div>
                  </div>

              </form>

          </div>
      </div>
  </div>
</div>

<!-- Janela modal para edição de cliente -->
<div class="modal fade" id="modal_edicao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Edição de Cliente</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p>Utilize o formulário para alterar os dados do cliente:</p>

              <form [formGroup]="formEdicao" (ngSubmit)="atualizarCliente()">

                <div *ngIf="mensagemEdicao" class="mb-3 alert alert-primary alert-dismissible fade show" role="alert">
                    <strong>{{mensagemEdicao}}</strong>
                    <button type = "button" class="btn-close" aria-label="Close" (click)="mensagemEdicao=''"></button>
                </div>

                <input type="hidden" formControlName="idCliente"/>

                <div class="mb-3">
                    <label>Nome do cliente:</label>
                    <input type="text" class="form-control" formControlName="nome" placeholder="Digite aqui" value="cliente.nome" />
                    <div class="text-danger" *ngIf="formUpdate.nome.touched && formUpdate.nome.invalid">

                      <span *ngIf="formUpdate.nome.errors.required">Por favor, informe o nome do cliente.</span>
                      <span *ngIf="formUpdate.nome.errors.minlength">Nome deve ter no mínimo 8 caracteres</span>

                    </div>
                </div>

                <div class="mb-3">
                    <label>Email do cliente:</label>
                    <input type="text" class="form-control" formControlName="email" placeholder="Digite aqui" value="cliente.email"/>
                    <div class="text-danger" *ngIf="formUpdate.email.touched && formUpdate.email.invalid">

                      <span *ngIf="formUpdate.email.errors.required">Por favor, informe o E-mail do cliente.</span>
                      <span *ngIf="formUpdate.email.errors.email">Formato de e-mail inválido.</span>

                    </div>
                </div>

                <div class="mb-3">
                    <label>CPF do cliente:</label>
                    <input type="text" class="form-control" formControlName="cpf" placeholder="Digite aqui" 
                    mask="000.000.000-00" value="cliente.cpf"/>
                    <div class="text-danger" *ngIf="formUpdate.cpf.touched && formUpdate.cpf.invalid">

                      <span *ngIf="formUpdate.cpf.errors.required">Por favor, informe o CPF do cliente.</span>
                      <span *ngIf="formUpdate.cpf.errors.minlength || formUpdate.cpf.errors.maxlength">Por favor, informe o CPF com 11 digitos.</span>

                    </div>
                </div>

                <div class="mb-3">
                    <div class="d-grid">
                        <input type="submit" class="btn btn-primary" [disabled]="!formEdicao.valid" value="Salvar Alterações" />
                    </div>
                </div>

              </form>

          </div>
      </div>
  </div>
</div>


